    @font-face {
        font-family: calcultFont;
        src: url(fonts/calc.ttf);
    }
    body{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .casio{
        height: 30px;
        display: flex;
        font-family: calcultFont;
        color: antiquewhite;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
    .title-casio{
        margin-left: 10px;
        letter-spacing: 6px;
    }
    .pano-soliair{
        width: 100px;
        height: 30px;
        border-radius: 3px;
        background-color: #887676;
        margin-right: 10px;

    }
    .calcul{
        background-color: #292929;
        width: 300px;
        padding: 12px;
        border-radius: 13px;
    }
    .result{
        min-height: 100px;
        padding: 5px;
        width: auto;
        border-radius: 13px;
        background-color: #c1d92f;
        /* background-image: url(imges/games_calculator_E5CFPM.jpg); */
        background-size: cover;
        margin-bottom: 20px;
        box-shadow: inset  0px 0px 1px 3px rgba(0, 0, 0, 0.55);
    }
    .result h1{
        font-family: calcultFont;
        margin: 5px;
        color: #292929;
    }
    .buttens{
        min-height: 300px;
        background-color: #494949;
        border-radius: 13px;
        padding: 10px;
    }
    table{
        width: 100%;
        border-spacing: 6px;
    }
    audio{
        display: none;
    }
    tr td{
        text-align: center;
        background-color: #494949;
        width:40px;
        height:50px;
        border-radius: 4px;
        color: white;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        -webkit-box-shadow: 1px 3px 19px -2px rgba(0,0,0,0.62); 
        box-shadow: 1px 3px 19px -2px rgba(0,0,0,0.62);
    }
    tr td:active{
        text-align: center;
        background-color: #494949;
        width:40px;
        height:50px;
        border-radius: 4px;
        color: white;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        box-shadow: inset  0px 0px 1px 3px rgba(0,0,0,0.55);
    }
    .red-btn{
        background-color: #d61f26;
    }
    .red-btn:active{
        background-color: #d61f26;
        box-shadow: inset  0px 0px 1px 3px rgba(0,0,0,0.55);
    }
    .off-btn{
        border-top-left-radius: 25px;
    }
    .ce-btn{
        border-bottom-left-radius: 25px;
    }
    .plus-btn{
        border-bottom-right-radius: 25px;
    }
    .division-btn{
        border-top-right-radius: 25px;
    }


    @media screen and (max-width: 600px) {
        .calcul{
            margin-top: 50px;
            background-color: #292929;
            width: 90%;
            padding: 12px;
            border-radius: 13px;
            -webkit-box-shadow: 1px 2px 12px -1px #FFFFFF; 
            box-shadow: 1px 2px 12px -1px #FFFFFF;
        }
        body{
            /* background-color: #000000; */
            /* background-image: url(imges/mobilebg.jpg); */
            background-size: cover;
            height: auto;
        }
      }